html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: inherit;
}

:root {
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

body {
	background-size: 300%;
	background-image: var(--gradient);
	animation: bg-animation 25s infinite;
	min-height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

nav {
	height: 10vh;
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	background-image: linear linear-gradient(90deg, #ee6352, purple, #ee6352);
	box-shadow: 0 5px 5px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.2);
	text-transform: uppercase;
	z-index: 100;
}

nav .logo a{
	width: 50vh;
	height: 9vh;
	padding-right: 20vh;
	padding-left: 20vh;
	text-decoration: none;
	color: #f0f0f0;
	font-size: 1.5em;
	text-transform: uppercase;
}

nav .logo a span {
	font-weight: bold;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 7vh;
}

nav ul li a {
	text-decoration: none;
	color: #f0f0f0;
	font-size: 1.1em;
}

nav ul li a:hover {
	color: lightblue;
}

.current {
	font-weight: bold;
	color: lightblue;
}

/*cards*/

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	width: 50%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.first_card {
	width: 30vh;
	height: 30vh;
	background-image: linear-gradient(#FFEFBA, #FFFFFF);
	clip-path: polygon(40% 0, 100% 0, 75% 100%, 0% 100%);
	box-shadow: 0px 20px 100px #555;
	transition: 300ms ease-in;
}

.second_card {
	width: 30vh;
	height: 30vh;
	background-image: linear-gradient(#FFEFBA, #FFFFFF);
	clip-path: polygon(22% 0, 78% 0, 100% 100%, 0% 100%);
	box-shadow: 0px 20px 100px #555;
	transition: 300ms ease-in;
}

.third_card {
	width: 30vh;
	height: 30vh;
	background-image: linear-gradient(#FFEFBA, #FFFFFF);
	clip-path: polygon(0 0, 61% 0, 100% 100%, 28% 100%);
	box-shadow: 0px 20px 100px #555;
	transition: 300ms ease-in;
}

.card:hover {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	width: 32vh;
	height: 40vh;
}

a[data-tool-tip]::after {
	content: attr(data-tool-tip);
	display: flex;
	position: absolute;
	font-size: 1.5em;
	padding: 0.8em;
	color: white;
	transform: scale(0);
	transition: transform ease-out 300ms, bottom ease-out 300ms;
}

a[data-tool-tip]:hover::after {
	transform: scale(1);
}

